
@{
    ViewData["Title"] = "Inicial";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<br />
<br />
<div class="container">
    <div class="row" style="background-color:white">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 style="text-align:center">Bienvenido Administrador</h1>
            <br />
            <p style="text-align:center">En el menú de la parte superior podras encontrar los modulos con sus respectivas funciones, puedes escoger la opcion que desees y podras gestionar los usuarios del sistema.</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>