
@{
    ViewData["Title"] = "Inicial";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<br />
<br />
<div class="container">
    <div class="row" style="background-color:white">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 style="text-align:center">Módulos</h1>
        </div>
        <div class="col-2"></div>
    </div>
    <br />
    <div class="row" style="background-color:white">
        <div class="col-4" style="text-align:center">
            <h3>Producción</h3>
            <img src="~/Imagenes/Produccion.png" />
            <br />
            <br />
            <div style="text-align:center">
                <br />
                <a class="btn btn-outline-primary" href="/Produccion/Index">Consultar Ficha de Producción</a>
            </div>
        </div>
        <div class="col-4" style="text-align:center">
            <h3>Inventario de Insumos</h3>
            <img src="~/Imagenes/Inventario.jpg" />
            <br />
            <br />
            <a class="btn btn-outline-success" href="/Insumo/Create">Crear Insumo</a>
            <br />
            <br />
            <a class="btn btn-outline-primary" href="/Insumo/Index">Consultar, Editar y Eliminar Insumos</a>
        </div>
        <div class="col-4" style="text-align:center">
            <h3>Ventas</h3>
            <img src="~/Imagenes/ventas.jpg" />
            <br />
            <br />
            <a class="btn btn-outline-success" href="/Venta/Create">Crear Venta</a>
            <br />
            <br />
            <a class="btn btn-outline-primary" href="/Venta">Consultar, Editar y Eliminar Ventas</a>
        </div>
    </div>
</div>