
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prueba</title>
    <meta charset="utf-8">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Muebles_JJ.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="~/Imagenes/logo.jpeg" width="3%" height="3%" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Imagenes/BaseCama.jpg" alt="Base Cama" width="1100" height="450">
                        </div>
                        <div class="button-container carousel-item">
                            <img src="~/Imagenes/Cabeceros.jpg" alt="Cabecero" width="1100" height="450">
                        </div>
                        <div class="button-container carousel-item">
                            <img src="~/Imagenes/Sala.jpg" alt="Sala" width="1100" height="450">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="background-color:white;">
            <div class="col-4"></div>
            <div class="col-4" style="text-align: center">
                <h2>Quienes Somos</h2>
            </div>
            <div class="col-4"></div>
            <br />
        </div>
        <div class="row" style="background-color:white;">
            <div class="col-2"></div>
            <div class="col-8" style="text-align: center">
                <p>Hace varios años tuvimos un sueño y quisimos aventurarnos, arriesgarnos y apostarle a este hermoso negocio. Y nos encantó desde el primer momento, nos gustaban las personas con las que trabajábamos, nos gustaba crear espacios, combinar colores y texturas, nos enamoraba atender a los clientes y sobre todo nos gustaba tener sueños.</p>
            </div>
            <div class="col-2"></div>
        </div>
        <br />
        <div class="row" style="background-color:white;">
            <div class="col-2"></div>
            <div class="col-3">
                <img src="~/Imagenes/Vision.png" />
            </div>
            <div class="col-5" style="text-align:center; display: flex; align-items: center;">
                <p>Muebles J.J es una empresa que se proyecta y tiene metas para un futuro. Se piensa que para años posteriores, la empresa posea una gran competitividad en el mundo productivo, obteniendo una gran calidad de servicio al cliente y la calidad que necesita mostrar. Si todo resulta bien para la empresa, se planea extender el servicio mediante nuevas sucursales ubicadas a nivel nacional.</p>
            </div>
            <div class="col-2"></div>
        </div>
        <br />
        <div class="row" style="background-color:white;">
            <div class="col-2"></div>
            <div class="col-5" style="text-align:center; display: flex; align-items: center;">
                <p>La empresa buscara mediante la venta de sus productos una atracción de clientes nuevos que permita el crecimiento de la empresa, basándose en productos llamativos, de calidad y de precio justo. También buscara fidelizar sus clientes antiguos basándose en el excelente servicio.</p>
            </div>
            <div class="col-3">
                <img src="~/Imagenes/Mision.jpg" />
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>
</html>
